Assets/3D/**/*.png filter=lfs diff=lfs merge=lfs -text
Assets/3D/**/*.ai filter=lfs diff=lfs merge=lfs -text
Assets/3D/**/*.obj filter=lfs diff=lfs merge=lfs -text
Assets/Billiard[[:space:]]Balls/Textures/*.png filter=lfs diff=lfs merge=lfs -text
